<div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-12 region-stats-chart">
    <div class="card statistic-card">
        <div class="card-content">
            <div class="top-row statistics-card-title border-bottom-blue-grey border-bottom-lighten-5">
                <div class="py-1 pl-2 ml-1">
                    <h4 class="power-consumption-stats-title text-bold-500">Application Statistics</h4>
                </div>
            </div>
            <div class="statistics-chart d-flex justify-content-center align-self-center">
                <div id="sales_in_region_pie_donut"></div>
            </div>
            <div class="statistics-chart-data d-flex justify-content-center ml-auto mr-auto pb-50 mb-2">
                <div class="collection mr-1">
                    <span class="bullet bullet-xs bullet-warning"></span>
                    <span class="font-weight-bold">26%</span>
                </div>
                <div class="collection mr-1">
                    <span class="bullet bullet-xs bullet-danger"></span>
                    <span class="font-weight-bold">44%</span>
                </div>
                <div class="collection mr-1">
                    <span class="bullet bullet-xs bullet-primary"></span>
                    <span class="font-weight-bold">28%</span>
                </div>
            </div>
            <div class="statistic-card-footer d-flex">
                <div class="column-data py-1 text-center border-top-blue-grey border-top-lighten-5 flex-grow-1 text-center border-right-blue-grey border-right-lighten-5">
                    <p class="font-large-1 mb-0">15</p>
                    <span>Body</span>
                </div>
                <div class="column-data py-1 flex-grow-1 text-center border-top-blue-grey border-top-lighten-5">
                    <p class="font-large-1 mb-0">25</p>
                    <span>Electric</span>
                </div>
                <div class="column-data py-1 flex-grow-1 text-center border-top-blue-grey border-top-lighten-5 border-left-blue-grey border-left-lighten-5">
                    <p class="font-large-1 mb-0">11</p>
                    <span>Engine</span>
                </div>
            </div>
        </div>
    </div>
</div>