
@{
    ViewData["Title"] = "Waiting";
    Layout = "~/Views/MyApplications/_MyApplicationLayout/_MyApplicationLayout.cshtml";
}

<body class="vertical-layout vertical-menu 2-column   fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="2-column">
    <div class="app-content content">
        <div class="content-overlay">
        </div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class=" col-lg-12">
                    <partial name="Partial/_WaitingForResponseCard" />
                </div>
            </div>
        </div>
    </div>
</body>