<div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-12 tracking-stats-chart">
    <div class="card chart-with-tabs">
        <div class="card-content">
            <ul class="nav nav-pills card-tabs mb-2 pl-2 border-bottom-blue-grey border-bottom-lighten-5" id="pills-tab" role="tablist">
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="body-header pl-2">
                        <div class="d-flex">
                            <h3 class="mr-2 body-header-title text-bold-600 mb-0">1,934</h3>
                        </div>
                        <div class="body-header-title">
                            <span class="text-bold">Total applications</span>
                        </div>
                    </div>
                    <div id="product_sales_column_basic_chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>