<div class="row grouped-multiple-statistics-card">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-xl-3 col-sm-6 col-12">
                        <div class="d-flex align-items-start mb-sm-1 mb-xl-0">
                            <span class="card-icon primary d-flex justify-content-center mr-3">
                                <i class="icon p-1 icon-bar-chart customize-icon font-large-2 p-1"></i>
                            </span>
                            <div class="stats-amount mr-3">
                                <h3 class="heading-text text-bold-600">&euro;478</h3>
                                <p class="sub-heading">Spent in this month</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3 col-sm-6 col-12">
                        <div class="d-flex align-items-start">
                            <span class="card-icon success d-flex justify-content-center mr-3">
                                <i class="icon p-1 icon-wrench customize-icon font-large-2 p-1"></i>
                            </span>
                            <div class="stats-amount mr-3">
                                <h3 class="heading-text text-bold-600">2</h3>
                                <p class="sub-heading">Applications done in this month</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3 col-sm-6 col-12">
                        <div class="d-flex align-items-start">
                            <span class="card-icon success d-flex justify-content-center mr-3">
                                <i class="icon p-1 icon-home customize-icon font-large-2 p-1"></i>
                            </span>
                            <div class="stats-amount mr-3">
                                <h3 class="heading-text text-bold-600">2</h3>
                                <p class="sub-heading">Cars in garage</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3 col-sm-6 col-12">
                        <div class="d-flex align-items-start">
                            <span class="card-icon warning d-flex justify-content-center mr-3">
                                <i class="icon p-1 icon-like customize-icon font-large-2 p-1"></i>
                            </span>
                            <div class="stats-amount mr-3">
                                <h3 class="heading-text text-bold-600">13</h3>
                                <p class="sub-heading">Services liked you</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>