
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Home/_HomeLayout/_HomeLayout.cshtml";
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <section class="row flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                            <div class="card-header border-0 pb-0">
                                <div class="card-title text-center">
                                    <a asp-controller="Home" asp-action="Index">
                                        <div class="p-1"><img src="~/images/logo/fastfix_logo.png" alt="branding logo" /></div>
                                        <h2>FastFix</h2>
                                    </a>
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                    <span>
                                        We will send
                                        you a link to reset password.
                                    </span>
                                </h6>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form-horizontal" asp-controller="Home" asp-action="SendResetPassword" novalidate>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="email" class="form-control form-control-lg" id="user-email" placeholder="Your Email Address" required>
                                            <div class="form-control-position">
                                                <i class="feather icon-mail"></i>
                                            </div>
                                        </fieldset>
                                        <button type="submit" class="btn btn-outline-primary btn-lg btn-block"><i class="feather icon-unlock"></i> Recover Password</button>
                                    </form>
                                </div>
                            </div>
                            <div class="card-footer border-0">
                                <a asp-controller="Home" asp-action="Registration" class="btn btn-outline-primary btn-block"><i class="feather icon-user"></i> Register</a>
                                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary btn-block"><i class="feather icon-home"></i> Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
