@*@model List<FastFix2._0.Data.NewApplications>;*@
<div class="card active-users">
    <div class="card-header border-0">
        <h4 class="card-title">Waiting for response</h4>
        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content">
        <div id="audience-list-scroll" class="table-responsive position-relative">
            <table class="table">
                <thead>
                    <tr>
                        <th>Car model</th>
                        <th>Repair Date</th>
                        <th>Description</th>
                        <th>Type Of Work</th>
                        <th>More</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var app in Model)
                    {*@
                        <tr>
                            <td class="text-truncate">
                                <div class="avatar avatar-md mr-1">
                                    <img class="rounded-circle" src="~/images/portrait/small/avatar-s-11.png" alt="Generic placeholder image">
                                </div>
                                <span class="text-truncate"></span>
                            </td>
                            <td class="align-middle">
                                <span>@*@app.Car*@</span>
                            </td>
                            <td class="align-middle">
                                <span>@*@app.RepairTill*@</span>
                            </td>
                            <td class="align-middle">
                                <span>@*@app.Description*@</span>
                            </td>
                            <td class="align-middle">
                                <span>@*@app.TypeOfWork*@</span>
                            </td>
                            <td class="align-middle">
                                <button class="btn white bg-amber-lighten-2 bg-amber">See Answers</button>
                            </td>
                        </tr>
                    @*}*@
                </tbody>
            </table>
        </div>
    </div>
</div>