<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="FastFix is a powerful platform for car repair shops. We are giving a lot of useful instruments to make life easyer for car repairs and people who are looking for good master.">
    <meta name="keywords" content="FastFix, FASTFIX, fastfix, fast fix, car repair, auto remont, autokorjaamo">
    <meta name="author" content="lnz747">
    <title>FastFix. Easy Fast Simple.</title>
    <link rel="apple-touch-icon" href="~/images/ico/icon_120px.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/ico/favicon-32.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <partial name="_Styles/_RequiredStyles" />
    <partial name="_HomeStyles/_HomeStyles" />
</head>

<body class="bg-cyan bg-lighten-2">

    @RenderBody();

    <partial name="_Scripts/_RequiredScripts" />
    <partial name="_HomeScripts/_HomeScripts" />
</body>
</html>