@model FastFix2._0.ViewModels.Identity.CarRepairDataRegistrationViewModel 
@{
    ViewData["Title"] = "CarRepairDataRegistration";
    Layout = "~/Views/Home/_HomeLayout/_HomeLayout.cshtml";
}

<h1>CarRepairDataRegistration</h1>

