@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Home/_HomeLayout/_HomeLayout.cshtml";
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <section class="row flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                            <div class="card-header border-0 pb-0">
                                <div class="card-title text-center">
                                    <a asp-controller="Home" asp-action="Index">
                                        <div class="p-1"><img src="~/images/logo/fastfix_logo.png" alt="branding logo" /></div>
                                        <h2>FastFix</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <h2>Thank you for verifying your email! <i class="feather icon-mail"></i></h2>
                                </div>
                            </div>
                            <div class="card-footer border-0">
                                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary btn-block"><i class="feather icon-home"></i> Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>