
@{
    ViewData["Title"] = "MyCars";
    Layout = "~/Views/MyGarage/_MyGarageLayout/_MyGarageLayout.cshtml";
}
<body class="overflow-hidden vertical-menu 2-column fixed-navbar vertical-layout" data-open="click" data-menu="vertical-menu" data-col="2-column">
    <div class="app-content content">
        <div class="content-overlay">
        </div>
        <div class="content-wrapper">
            <div class="content-body">
                <section id="myCars" class="row">
                    <div class="col-12">
                        <h1 class="text-uppercase mb-3">My Cars</h1>
                    </div>
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="card">
                            <div class="text-center">
                                <div class="card-body">
                                    <img src="/images/logo/BMW.png" class="rounded-circle  height-150" alt="Card image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">BMW</h4>
                                    <h6 class="text-muted">530 D 2007</h6>
                                    <h6 class="text-muted">967 PCF</h6>
                                    <h6 class="text-muted">YS3AK35E4M5002999</h6>
                                </div>
                                <div class="text-center">
                                    <a href="#" class="btn btn-outline-cyan mr-1 mb-1">Edit</a>
                                    <a href="#" class="btn btn-red mr-1 mb-1">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <partial name="Partial/_Footer" />
</body>
