@{
    ViewData["Title"] = "CarOwnerGarage";
    Layout = "~/Views/CarOwnerGarage/_LayoutCarOwnerGarage/_CarOwnerGarageLayout.cshtml";
}



<body class="vertical-layout vertical-menu 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="2-columns">

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <partial name="Partial/_Statistics" />
                <div class="row match-height">
                    <div class="col-xl-8 col-lg-12">
                        <partial name="Partial/_LatestApplicationsCard" />
                    </div>

                    <partial name="Partial/_MyTaskTimelineCard" />
                </div>
            </div>
        </div>
    </div>
</body>


